{% extends "layout.html" %}

{% set pageId = "page-search-cadastro" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/search-cadastro.css">
{% endblock styles  %}
    
{% block title %}
<title>Ajudas encontradas</title>
{% endblock title %}    
    
{% block content %}
  {% include "partials/page-header.html" %}
        <main>
          <h4>
            <strong>2 Cadastros</strong> encontrados
          </h4>

          <div class="cards">
            <div class="card">
              <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGXCewQI2GPUw/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=0j7DEHS_mazvtwmkrRmjsKQZU2dGKx5kpgZf7dvXQoY" alt="Nathan">
              <h1>Nathan de Andrade</h1>
              <div class="description">Estou passando por necessidades básicas dentro de casa e preciso de ajuda.</div>
              <p>
                São Caetano do Sul, São  Paulo <br>
                Prosperidade, Rua Eldorado <br>
                N°552
              </p>
              <br>
              <a href="#">WhatsApp</a>
              <a href="#">Gmail</a>
            </div>
          </div>
          <br>
          <div class="cards">
            <div class="card">
              <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGXCewQI2GPUw/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=0j7DEHS_mazvtwmkrRmjsKQZU2dGKx5kpgZf7dvXQoY" alt="Nathan">
              <h1>Nathan de Andrade</h1>
              <div class="description">Estou passando por necessidades básicas dentro de casa e preciso de ajuda.</div>
              <p>
                São Caetano do Sul, São  Paulo <br>
                Prosperidade, Rua Eldorado <br>
                N°552
              </p>
              <br>
              <a href="#">WhatsApp</a>
              <a href="#">Gmail</a>
            </div>
          </div>
        </main>
{% endblock content %}

{% block scripts %}
<script src="/scripts/cadastro.js"></script>
{% endblock scripts %}
