:root{
  --title-color: #EC1C24;
  --primary-color: #6BD618;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-color: rgb(160, 169, 177);
  -webkit-font-smoothing: antialiased;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  color: var(--title-color);
}