@media (max-width: 900px){
  #page-home{
    background-position-x: 70vw;
  }
  #page-home .content{
    align-items: center;
    text-align: center;
  }
  #page-home header a{
    position: absolute;
    bottom: 65px;

    left: 20%;
    transform: translateX(-50%);
    transform: translateY(400%);
  }
  #page-home main{
    align-items: center;
  }
}